---
import MusicListLazyLoad from "../../components/MusicListLazyLoad.jsx";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import '../../styles/Music-item.css';
---

<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <title>پیشنهادات موسیقی</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/logo.jpg" type="image/x-icon" />
  </head>
  <body dir="rtl">
    <Header />
    <h1>🎵 پلی‌لیست کلاسیک</h1>
    <MusicListLazyLoad client:load />
    <Footer />
  </body>
</html>
